*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    font-family: arial,sans-serif;
    font-size: 1.1em;

    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: black;
    
    width: min(700px, 100%);
    margin: 0px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

header{
    display: flex;
    align-items: center;
}

header img{
    max-width: 100px;
    max-height: 120px;
    width: auto;
    height: auto;
}

.minha-foto{
    border-style: groove;
    border-color: gray;
}

.header-info{
    margin-left: 15px;
}

.header-interacoes{
    display: flex;
}

.header-interacoes button{
    margin-left: 8px;
}

section{
    margin-top: 15px;
}

h4{
    margin-bottom: 5px;
}

p{
    text-indent: 1.5em;
}

h4, p{
    margin-top: 5px;
}

footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#button-mudar-tema{
    padding: 0px 12px;
}

.modo-dark{
    background-color: #121212;
    color: rgba(255, 255, 255, 87%);
    border-color: rgba(255, 255, 255, 87%);
}